<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/login.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
<div id="wrapper">

  <div class="top-buttons">
    <a href= "home.html" class="register-button">
      <i class="fas fa-home"></i> Trang Chủ
    </a>

    <a href= "register.html" class="register-button">
      <i class="fas fa-user-plus"></i> Đăng Ký
    </a>
  </div>

  <form action="" id="form-login">
    <h1 class="form-heading">Đăng Nhập</h1>
    <div class="form-group">
      <i class="fa-solid fa-user"></i>
      <input type="text" class="form-input" placeholder="Tên Đăng Nhập">
    </div>
    <div class="form-group">
      <i class="fa-solid fa-key"></i>
      <input type="password" class="form-input" placeholder="Mật Khẩu" required>
      <div id="ege">
        <i class="fa-solid fa-eye"></i>
      </div>
    </div>
    <input type="submit" value="Đăng nhập" class="form-submit">

    <div class="social-login">
      <p>Đăng ký bằng</p>
      <a href="https://www.facebook.com/login" target="_blank" class="social-button facebook">
        <i class="fab fa-facebook-f"></i> Facebook
      </a>
      <a href="https://accounts.google.com/signin" target="_blank" class="social-button google">
        <i class="fab fa-google"></i> Google
      </a>
    </div>
  </form>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="../static/js/login.js"></script>

</html>